/* COLOR & SPACING VARIABLES */
:root {
  --container: 1000px;
  --black: #191919;
  --black-opa: rgba(0, 0, 0, 0.6);
  --orange: #f36025;
  --dark-orange: #c0562a;
  --blue: #4183d7;
  --dark-blue: hsl(214, 60%, 45%);
  --border-grey: #e6ebef;
  --grey-text-input: #768696;
  --grey-background-input: #f4f6f7;
  --background: #f9f9f9;
}

/* MAIN STYLING */
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body,
input,
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1.9rem;
  color: var(--black);
}
.scroll-off {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--background);
  z-index: 2;
}
main {
  margin-top: 60px;
  background-color: var(--background);
  min-height: calc(100vh - 140px);
}
h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}
h3 {
  font-weight: bold;
  margin-bottom: 18px;
}
footer {
  background-color: #3e3e3e;
  color: white;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  color: var(--black);
}
input {
  padding: 1px 10px;
  box-sizing: border-box;
}
b {
  font-weight: bold;
}

/* FLEXBOX */
.d-flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

/* FONTS */
.is-bld,
.is-bld a {
  font-weight: bold;
}
.is-centered {
  text-align: center;
}
.is-blue {
  color: var(--blue);
}
.is-orange {
  color: var(--orange);
}
.is-15 {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.is-16 {
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.is-18 {
  font-size: 1.8rem;
  line-height: 2.1rem;
}
.is-20 {
  font-size: 2rem;
  line-height: 2.3rem;
}
.is-23 {
  font-size: 2.3rem;
  line-height: 3.2rem;
}

/* MODAL CONNECT */
.modal-connect {
  width: 100vw;
  height: 100vh;
  background-color: var(--black-opa);
  position: fixed;
  top: 0;
  z-index: 2000;
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
  -ms-animation: fadein 0.5s; /* Internet Explorer */
  -o-animation: fadein 0.5s; /* Opera < 12.1 */
  animation: fadein 0.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-connect-box {
  width: 600px;
  background-color: white;
}
.modal-connect-box-top {
  padding: 21px 77px 0 77px;
  border-bottom: 1px solid var(--border-grey);
}
.modal-connect-box-title:after {
  margin: 21px 0 33px 0;
  display: block;
  content: '';
  width: 100%;
  border-bottom: 3px solid var(--orange);
}
.modal-connect-box-top > form {
  width: 100%;
}
.modal-connect-box-top > form > input {
  width: 100%;
  border-radius: 5px;
  height: 44px;
  margin-bottom: 28px;
}
.modal-connect-box-top > form > input:not(.modal-connect-box-submit) {
  border: 1px solid #d9e0eb;
}
.modal-connect-box-top > form > label {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 15px;
  text-align: left;
}
.modal-connect-box-submit {
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.modal-connect-box-submit:hover {
  background-color: var(--dark-blue);
}
.modal-connect-box-bottom {
  padding: 21px 77px 30px 77px;
  text-align: center;
}
.modal-connect-box-bottom > div {
  margin-bottom: 21px;
}
.modal-connect-box-bottom-sign-up {
  width: 100%;
  height: 44px;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 5px;
}
.modal-connect-box-bottom-sign-up:hover {
  background-color: var(--background);
}
.icon-close {
  position: absolute;
  font-size: 4rem;
  top: 30px;
  right: 30px;
  color: white;
  cursor: pointer;
}

/* HEADER STYLING */
.header-top {
  width: 100%;
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.header-top-container {
  width: 96vw;
  max-width: var(--container);
  height: 100%;
}
.header-top-container-left {
  width: 550px;
  height: 100%;
}
.logo {
  cursor: pointer;
}
/* User connect */
.icon-user {
  font-size: 2rem;
  margin-bottom: 5px;
}
.user-connect {
  height: 100%;
  cursor: pointer;
  position: relative;
  border: none;
}
.hover-header:after {
  position: absolute;
  bottom: 0;
  content: '';
  width: 0%;
  padding-top: 3px;
  border-bottom: 3px solid var(--orange);
  transition: 0.3s;
}
.hover-header:hover:after {
  width: 100%;
}
.selected-header:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  border-bottom: 3px solid var(--orange);
}
/* Post offer button */
.post-offer-button-header {
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
}
.orange-button-hover:hover {
  background-color: var(--dark-orange);
}
.icon-plus {
  font-size: 2.3rem;
}
/* Search */
.search-header {
  cursor: pointer;
  position: relative;
  height: 100%;
}
.icon-search {
  font-size: 2.5rem;
  margin-right: 10px;
}

/* OFFERS PAGE */
.offers {
  width: 100%;
}
.offers-top {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.orange-ellipse {
  width: 110%;
  box-sizing: content-box;
  height: 100px;
  background-color: var(--orange);
  border-radius: 0 0 600px 600px/0 0 100px 100px;
  position: absolute;
  top: 0px;
  left: -5%;
}
/* Search Box */
.search-box {
  width: 810px;
  height: 130px;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 35px 0;
  z-index: 1;
}
.search-box-input-icon {
  position: relative;
}
.search-box-input {
  width: 320px;
  height: 40px;
  background-color: var(--grey-background-input);
  border: none;
  padding-left: 53px;
}
.search-box-input::placeholder {
  color: var(--grey-text-input);
}
.icon-search-box {
  position: absolute;
  color: var(--grey-text-input);
  left: 20px;
  top: 12px;
}
.search-box-button {
  width: 220px;
  height: 40px;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 21px;
  cursor: pointer;
}
/* Line offer */
.line-offer {
  width: var(--container);
  height: 180px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 19px;
}
.line-offer:hover .line-offer-title {
  color: var(--orange);
}
.line-offer-img {
  width: 240px;
  height: 180px;
  background-color: #c3cbd4;
}
.line-offer-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.line-offer-text {
  margin: 15px 0 15px 29px;
}
.line-offer-title {
  font-size: 2.2rem;
  line-height: 26px;
  margin-bottom: 7px;
}
.line-offer-price {
  font-size: 2rem;
  line-height: 23px;
  color: var(--orange);
}

/* OFFER PAGE */
/* Box-offer */
.box-offer {
  margin-top: 44px;
  width: var(--container);
}
.box-offer a:hover {
  text-decoration: underline;
}
.box-offer-container {
  width: 70%;
  height: 607px;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 27px;
}
.box-offer-img {
  width: 700px;
  height: 400px;
  background-color: #c3cbd4;
}
.box-offer-img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.box-offer-infos {
  height: 156px;
  padding: 27px 29px;
}
.box-offer-infos-title {
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 11px;
}
.box-offer-user {
  width: calc(30% - 18px);
  height: 195px;
  background-color: white;
  margin-left: 18px;
  padding: 19px 0;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.box-offer-user-padding {
  padding-left: 22px;
  padding-right: 22px;
  box-sizing: border-box;
}
.box-offer-user > hr {
  width: calc(100%-1px);
  padding: 0;
  text-align: center;
  border: 1px solid var(--border-grey);
  margin: 13px 0 27px 0;
}
.box-offer-user-username {
  margin-bottom: 5px;
}
.box-offer-user-button {
  width: 100%;
  height: 44px;
  background-color: var(--orange);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.icon-cart-plus {
  margin-right: 10px;
}

/* SIGN-UP PAGE */
.sign-up-bloc {
  width: var(--container);
  background-color: white;
  margin: 38px 0;
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.sign-up-bloc-left {
  width: 60%;
  margin-right: 100px;
}
.sign-up-bloc-left-line {
  padding: 30px 0;
}
.icon-sign-up {
  font-size: 3.8rem;
  color: var(--blue);
}
.icon-sign-up-container {
  width: 20%;
}
.sign-up-bloc-left-text {
  width: 80%;
  font-size: 1.4rem;
  line-height: 1.6rem;
}
.sign-up-bloc-right {
  width: 40%;
}
.sign-up-bloc-right input:not([type='checkbox']):not([type='submit']) {
  width: 100%;
  height: 44px;
  border: 1px solid var(--border-grey);
  border-radius: 5px;
}
.sign-up-bloc-right input[type='checkbox'] {
  margin: 19px 0;
  margin-right: 15px;
}
.sign-up-bloc-right input[type='submit'] {
  width: 100%;
  height: 44px;
  margin-right: 15px;
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sign-up-bloc-right label:not(.cgu-cgv) {
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
  margin: 19px 0;
}
.cgu-cgv {
  font-size: 13px;
  line-height: 15px;
  /* font-weight: bold; */
  margin: 19px 0;
}
.sign-up-bloc-right-passwords {
  width: 100%;
  margin-top: 19px;
}
.sign-up-bloc-right-passwords > div {
  width: 50%;
}
.sign-up-bloc-right-passwords input {
  width: calc(100% - 10px);
  margin-top: 19px;
}
.sign-up-bloc-right-passwords div:last-child input {
  margin-left: 10px;
}
.error-message {
  margin-bottom: 19px;
  color: red;
}
